<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pixelexperience.ota"
    android:versionCode="1">

    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECOVERY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowClearUserData="false"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".UpdatesActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.settings.SYSTEM_UPDATE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="-101">
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.security" />
            <meta-data
                android:name="com.android.settings.keyhint"
                android:value="security_status_security_patch_level" />
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/setting_security_patch_level_title" />
            <meta-data
                android:name="com.android.settings.icon_tintable"
                android:value="false" />
            <meta-data
                android:name="com.android.settings.summary_uri"
                android:value="content://org.pixelexperience.ota.provider/getText/SecurityPatchLevelSummary" />
            <meta-data
                android:name="com.android.settings.icon_uri"
                android:value="content://org.pixelexperience.ota.provider/getIcon/SecurityPatchLevelIcon" />
        </activity>
        <provider
            android:name="org.pixelexperience.ota.provider.SecurityProvider"
            android:authorities="org.pixelexperience.ota.provider"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".LocalChangelogActivity"
            android:excludeFromRecents="true"
            android:label="@string/menu_show_changelog"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".controller.UpdaterService" />
        <service android:name=".ExportUpdateService" />

        <receiver
            android:name=".UpdaterReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".UpdatesCheckReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
